apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: wbct
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-uvgy-tenant/byoc-app-hwbd/wbct@sha256:9876c38f0d589ee2614c517ba742ba362b7eec56a0ec76a8e371614dea91cd9c
        name: my-java-quarkus
        resources: {}
status: {}
