apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: wbct
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: wbct
    app.kubernetes.io/part-of: byoc-app-hwbd
  name: wbct
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: wbct
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: wbct
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-uvgy-tenant/byoc-app-hwbd/wbct@sha256:9876c38f0d589ee2614c517ba742ba362b7eec56a0ec76a8e371614dea91cd9c
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
